.card .cardTitle {
	font-weight: 600;
}

.card.large{
	height: 700px;
}

ul.tabs > li{
	width: 33%;
	font-size: 10px;
}

/* label color */
.input-field label {
	color: white !important;
}
.input-field input {
	border-bottom-color: white !important;
	color: white !important;
}
select option{
	color: white !important;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label ,
.input-field input[type=email]:focus + label{
	color: white !important;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
	border-bottom: 1px solid white !important;
	box-shadow: 0 1px 0 0 white !important;
}
/* valid color */
.input-field input[type=text].valid,
.input-field input[type=password].valid,
.input-field input[type=email].valid {
	border-bottom: 1px solid white !important;
	box-shadow: 0 1px 0 0 white !important;
}
/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=password].invalid,
.input-field input[type=email].invalid {
	border-bottom: 1px solid red !important;
	box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */

.input-field .prefix.active {
	color: white !important;
}



/* *************************** */
/* ********* Models ********** */
/* *************************** */
.modal .input-field label {
	color: black !important;
}
.modal .input-field input {
	border-bottom-color: black !important;
}
.modal .input-field input[type=text],
.modal .input-field input[type=password]{
	color: black !important;
}
.modal input[type=button]{
	color: white !important;
}
/* label focus color */
.modal .input-field input[type=text]:focus + label,
.modal .input-field input[type=password]:focus + label ,
.modal .input-field input[type=email]:focus + label{
	color: black !important;
}
/* label underline focus color */
.modal .input-field input[type=text]:focus,
.modal .input-field input[type=password]:focus,
.modal .input-field input[type=email]:focus {
	border-bottom: 1px solid black !important;
	box-shadow: 0 1px 0 0 black !important;
}
/* valid color */
.modal .input-field input[type=text].valid,
.modal .input-field input[type=password].valid,
.modal .input-field input[type=email].valid {
	border-bottom: 1px solid black !important;
	box-shadow: 0 1px 0 0 black !important;
}
/* invalid color */
.modal .input-field input[type=text].invalid,
.modal .input-field input[type=password].invalid,
.modal .input-field input[type=email].invalid {
	border-bottom: 1px solid red !important;
	box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */
.modal .input-field .prefix.active {
	color: black !important;
}

.modal input[type=submit] {
	color: white !important;
}

.modal .select-wrapper input.select-dropdown {
	color: black !important;
}

/* *************************** */
/* ******* Datepicker ******** */
/* *************************** */
.datepicker {
	color: white !important;
}

.datepicker-date-display {
	background-color: #2e7d32 !important;
}

.datepicker-calendar-container .select-wrapper input.select-dropdown{
	color: black !important;
	position: relative;
	top: 0;
}

/* *************************** */
/* ********* steps *********** */
/* *************************** */

#werkwijze ul.collapsible {
	display: flex !important;
	flex-wrap: wrap !important;
}

#werkwijze ul.collapsible > * {
	width: 100% !important;
}

.brand-logo > img {
	width: 100px;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
	max-height: 300px !important;
}