table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 1rem;
}

table td,
table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tbody tr:hover {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

table tbody .description {
	width: 700px;
}

img {
	height: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey !important;
    opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: gery !important;
}